* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 5px solid purple;
    background-color: tomato;
    height: 100vh;
    justify-items: center;
    align-items: center;
}

img {
    width: 150px;
    height: 150px;
}

@media only screen and (max-width: 611px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 5px;
    }

    img {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width: 527px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}
